# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Testing and Coverage
coverage
__snapshots__

# Transpiled files
dist

# VS Code
.vscode
!.vscode/tasks.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store